.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;

  margin-top: 2rem;
}

.main{
  display: flex;
  flex-direction: column;
}

#modal{
  text-align: right;
}